.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.info {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 12px;
    border-right: #ccc 2px solid;
    border-left: #ccc 2px solid;
    width: 75%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-right: 12px;
    width: 20%;
    padding-left: 32px;
}

.icon {
    width: 15%;
    justify-content: center;
    display: flex;
}